body {
   background-color: rgb(194, 199, 199);
}
.a {
    color: #000000;
}
.b {
    color: #FF0000;
}
.c {
    color: #2400FF;
}
.d {
    color: #FF2929;
}
.e {
    color: #00461C;
}
.f {
    color: #000000;
}